#TOPIC: String Based Assignment Problem

#1. Write a program to reverse a string.

In [2]:
#given string
user_string = "my name is Sakshi"
print("The given string is =",user_string)
#reverse the string
reverse_str = user_string[::-1]

#display the result
print("Reverse of given string =",reverse_str)

The given string is = my name is Sakshi
Reverse of given string = ihskaS si eman ym

#2. Check if a string is a palindrome.

In [1]:
#given string
given_string = "pwskills"
print("The given string is =",given_string)

#reverse the string
reverse_str = given_string[::-1]

#check if a string is palindrome or not
if given_string==reverse_str:
    print("String is palindrome")
else:
    print("String is not plaindrome")

The given string is = pwskills
String is not plaindrome

#3. Convert a string to uppercase.

In [9]:
#initializing the string
given_string = "my name is Sakshi"
print("Given string is =",given_string)
    
#converting the string into uppercase
upper_string=given_string.upper()

#Display the result
print("String after converting into uppercase =",upper_string)

Given string is = my name is Sakshi
String after converting into uppercase = MY NAME IS SAKSHI

#4. Convert a string to lowercase.

In [10]:
#initializing the string
given_string = "MY NAME IS SAKSHI"
print("Given string is =",given_string)
    
#converting the string into uppercase
lower_string=given_string.lower()

#Display the result
print("String after converting into lowercase =",lower_string)

Given string is = MY NAME IS SAKSHI
String after converting into lowercase = my name is sakshi

#5. Count the number of vowels in a string.

In [11]:
#initializing the string
given_string="hi Everyone"
print("string =",given_string)


# Convert the string to lowercase to make the counting case-insensitive
given_string_lower = given_string.lower()

# Initialize a counter for vowels
vowel_count = 0

# Iterate through each character in the string
for char in given_string_lower:
    # Check if the character is a vowel
    if char in "aeiou":
        vowel_count += 1

# Display the result
print("Number of vowels in the sentence:", vowel_count)

string = hi Everyone
Number of vowels in the sentence: 5

#6. Count the number of consonants in a string.

In [6]:
def count_consonants(string):
    # Initialize a variable to keep track of the count of consonants
    consonant_count = 0

    # Define a set of consonant characters
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

    # Iterate through each character in the input string
    for char in string:
        # Check if the character is in the set of consonants
        if char in consonants:
            # Increment the consonant count
            print(char)
            consonant_count += 1

    # Return the final count of consonants
    return consonant_count

# Input string
input_string = input("Enter a string: ")

# Call the function and print the result
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  widiw

w
d
w
Number of consonants: 3

#7. Remove all whitespaces from a string.

In [19]:
# initializing the string
given_string="I am a data science student"
print("string including spaces =",given_string)

# removing all the spaces from string
modified_string=given_string.replace(" ","")

#displaying the modified string
print("Sting after removing white spaces =",modified_string)

string including spaces = I am a data science student
Sting after removing white spaces = Iamadatasciencestudent

#8.Find the length of a string without using the `len()` function.

In [2]:
string="I am a data science student"
count=0
for i in string:
      count=count+1
print("Length of the string is =",count)

Length of the string is = 27

#9. Check if a string contains a specific word.

In [13]:
#initializing the string
string="my name is Sakshi"
print(string)

#taking substring input from user
word = input("enter the substring you want to find")

#check if the string contains the substring or not
if word in string:
    print("contains the string")
    
else:
    print("it is not containing the string you want to find")

my name is Sakshi

enter the substring you want to find is Sa

contains the word

#10. Replace a word in a string with another word.

In [16]:
#initializing the string
string="my name is Sakshi"
print("string =",string)

#replacing the word with specific word
new_string=string.replace("my","th")

#display the result
print("new string =",new_string)

string = my name is Sakshi
new string = th name is Sakshi

#11. Count the occurrences of a word in a string.

In [23]:
#initializing the string
string="my name is sakshi"
print("string =",string)

#taking char as input from user
word = input("enter the char you want to find =")

#display the count of character
print(f"number of occurence of {word} : {string.count(word)}")

string = my name is sakshi

enter the char you want to find = is

number of occurence of is : 1

#12. Find the first occurrence of a word in a string.

In [26]:
# initializing the string
string="i am a data science anthusiast"

#taking the word as input from the user
word=input("enter the word:")

#display the first occurence of the word
print(f"first occurence of the {word} is : {string.index(word)}")

enter the word: s

first occurence of the s is : 12

#13. Find the last occurrence of a word in a string.

In [29]:
# initializing the string
string="i am a data science anthusiast"

#taking the word as input from the user
word=input("enter the word:")

#display the first occurence of the word
print(f"last occurence of the {word} is : {string.rindex(word)}")

enter the word: i

last occurence of the i is : 26

#14. Split a string into a list of words.

In [32]:
# initializing the string
string="my name is Sakshi"
print("string =",string)

#split the string into words
new_str=string.split()

# display the result
print("modified string =",new_str)

string = my name is Sakshi
modified string = ['my', 'name', 'is', 'Sakshi']

#15.Join a list of words into a string.

In [36]:
# initializing the string
list=['my', 'name', 'is', 'Sakshi']
print("list =",list)

#joining the list of words in string and display the result
separator = ' ' 

result = separator.join(list) 

print("string =",result)

list = ['my', 'name', 'is', 'Sakshi']
string = my name is Sakshi

#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [3]:
# initializing the string
string = "hi everyone how are you all"
print("String with spaces =",string)

new_string=string.replace(" ","_")
print("Modified string =",new_string)

String with spaces = hi everyone how are you all
Modified string = hi_everyone_how_are_you_all

#17. Check if a string starts with a specific word or phrase.

In [6]:
# initialize the string
string = "I am BCA graduate"
print("string =",string)

# taking the phrase as input from user
word=input("enter the word you want to check:")

# check the given string starts with the specific word or phrase
if string.startswith(word):
    print("yes")
else:
    print("no")

string = I am BCA graduate

enter the word you want to check: i

no

#18.Check if a string ends with a specific word or phrase.

In [9]:
#initialize the string
string = "I am BCA graduate"
print("string =",string)

# taking the phrase as input from user
word=input("enter the word you want to check:")

# check the given string starts with the specific word or phrase
if string.endswith(word):
    print("yes")
else:
    print("no")

string = I am BCA graduate

enter the word you want to check: uate

yes

#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [14]:
# initialize the string
string="hello world"
print("Before converting =",string)

#convert the string
new_string=string.title()

#display the result
print("After converting =",new_string)

Before converting = hello world
After converting = Hello World

#20. Find the longest word in a string.

In [16]:
#initialize the string
string = "I am BCA graduate"
print("string =",string)

# Split the string into words
words = string.split()

# Find the longest word
longest_word = max(words, key=len)

# Print the result
print("The longest word in the string is:", longest_word)

string = I am BCA graduate
The longest word in the string is: graduate

#21. Find the shortest word in a string.

In [17]:
#initialize the string
string = "I am BCA graduate"
print("string =",string)

# Split the string into words
words = string.split()

# Find the shortest word
shortest_word = min(words, key=len)

# Print the result
print("The shortest word in the string is:", shortest_word)

string = I am BCA graduate
The shortest word in the string is: I

#22. Reverse the order of words in a string.

In [7]:
# Get a string input from the user
user_input = input("Enter a string: ")

# Split the string into words
words = user_input.split()

# Reverse the order of words
reversed_words = ' '.join(words[::-1])

# Print the result
print("Reversed order of words:", reversed_words)

Enter a string:  hi guys how are you

Reversed order of words: you are how guys hi

#23. Check if a string is alphanumeric.

In [20]:
# get a string input from the user
user_input=input("enter the string:")

# check if a string is alphanumeric
if user_input.isalnum():
    print("string is alphanumeric")
else:
    print("It is not alphanumeric")

enter the string: @^!$#^jehfdfh

It is not alphanumeric

#24. Extract all digits from a string.

In [ ]:
# get a string input from the user
user_input=input("Enter the string :")

# extracting all the digits from the string
digits = [char for char in user_input if char.isdigit()]
        
# display the result
print("Digits extracted from the string:", ''.join(digits))

Enter the string : jhrfyuhrf546841245

Digits extracted from the string: 546841245

#25. Extract all alphabets from a string.

In [31]:
# get a string input from the user
user_input=input("Enter the string :")

# extracting all the alphabets from the string
letters = [char for char in user_input if char.isalpha()]
        
# display the result
print("letters extracted from the string:", ''.join(letters))

Enter the string : gfehfhe546823

letters extracted from the string: gfehfhe

#26. Count the number of uppercase letters in a string.

In [32]:
# get a string input from the user
user_input=input("Enter the string :")

# extracting all the upper letters from the string
upper_letters = [char for char in user_input if char.isupper()]
        
# display the result
print("upper letters extracted from the string:", ''.join(upper_letters))

Enter the string : hfuehfjHHWHWB

upper letters extracted from the string: HHWHWB

#27. Count the number of lowercase letters in a string.

In [33]:
# get a string input from the user
user_input=input("Enter the string :")

# extracting all the lower letters from the string
lower_letters = [char for char in user_input if char.islower()]
        
# display the result
print("lower letters extracted from the string:", ''.join(lower_letters))

Enter the string : gucshUERFHER

lower letters extracted from the string: gucsh

#28. Swap the case of each character in a string.

In [35]:
# Get a string input from the user
user_input = input("Enter a string: ")

# Swap the case of each character in the string
swapped_string = user_input.swapcase()

# Print the result
print("String with swapped case:", swapped_string)

Enter a string:  HI pwskills

String with swapped case: hi PWSKILLS

#29. Remove a specific word from a string.

In [38]:
# Get a string input from the user
user_input = input("Enter a string: ")

# Specify the word to remove
word_to_remove = input("Enter the word to remove: ")

# Replace the word with an empty string
result_string = user_input.replace(word_to_remove, '')

# Print the result
print("String after removing '{}' is: {}".format(word_to_remove, result_string))

Enter a string:  uihcisakx
Enter the word to remove:  ui

String after removing 'ui' is: hcisakx

#30. Check if a string is a valid email address.

In [42]:
# get a email as input from the user
email = input("enter your email address here :")

# check the email is valid or not
if '@' in email:
    print("This is a valid email address")
else:
    print("This email address is not correct")

enter your email address here : aggarwal@jcjh

This is a valid email address

#31. Extract the username from an email address string.

In [8]:
# get an email as input from the user
email_address = input("enter your email address here :")


# Extract the username using split
username = email_address.split('@')[0]if '@' in email_address else None

# Check if a username is found
if username:
    print(f"The username is: {username}")
else:
    print("No username found in the email address.")

enter your email address here : sakshiaggarwal@gmail.com

The username is: sakshiaggarwal

#32. Extract the domain name from an email address string.

In [1]:
# get an email as input from the user
email_address = input("enter your email address here :")

# Split the email address at the "@" symbol
parts = email_address.split('@')

# Check if there are two parts (username and domain)
if len(parts) == 2:
    domain = parts[1]
    print(f"The domain is: {domain}")
else:
    print("No domain found in the email address.")

enter your email address here : sakshi@yahho.com

The domain is: yahho.com

#33. Replace multiple spaces in a string with a single space.

In [4]:
# getting an string input from the user
input_string = input("Enter the string of your choice = ")

# Replace multiple spaces with a single space using split and join
output_string = ' '.join(input_string.split())

print(f"Original string: {input_string}")
print(f"Modified string: {output_string}")

Enter the string of your choice =  hiii   everyone

Original string: hiii   everyone
Modified string: hiii everyone

#34. Check if a string is a valid URL.

In [6]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
import validators

def is_valid_url(url):
    return validators.url(url)

# taking url input from the user
url_to_check=input("enter the url")

if is_valid_url(url_to_check):
    print(f"{url_to_check} is a valid URL.")
else:
    print(f"{url_to_check} is not a valid URL.")

enter the url https://web.com

https://web.com is a valid URL.

#35. Extract the protocol (http or https) from a URL string.

In [8]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage:
url = "https://www.example.com/path/to/resource"
protocol = extract_protocol(url)
print("Protocol:", protocol)

Protocol: https

#36. Find the frequency of each character in a string.

In [11]:
from collections import Counter

# get string input from the user
input_str=input("enter the string")

frequency_result = Counter(input_str)

# Print the result
for char, count in frequency_result.items():
    print(f"Character: '{char}', Frequency: {count}")

enter the string my name is sakshi

Character: 'm', Frequency: 2
Character: 'y', Frequency: 1
Character: ' ', Frequency: 3
Character: 'n', Frequency: 1
Character: 'a', Frequency: 2
Character: 'e', Frequency: 1
Character: 'i', Frequency: 2
Character: 's', Frequency: 3
Character: 'k', Frequency: 1
Character: 'h', Frequency: 1

#37.Remove all punctuation from a string.

In [1]:
def remove_punctuation(input_string):
    no_punct = ''.join(char for char in input_string if char.isalnum() or char.isspace())
    return no_punct

# get an input  string from the user
input_string=input("enter the string for yoir choice:")

# display the result
result = remove_punctuation(input_string)
print(result)

enter the string for yoir choice: hello!guys,,,,how are you

helloguyshow are you

#38. Check if a string contains only digits.

In [4]:
# get an string input from the user
input_str=input("enter the string")

# check if a string contain only digits
if input_str.isdigit():
    print("It contains only digits")
else:
    print("It does not contain only digits")

enter the string 6712373

It contains only digits

#39. Check if a string contains only alphabets.

In [6]:
# get an string input from the user
input_str=input("enter the string")

# check if a string contain only digits
if input_str.isalpha():
    print("It contains only alphabets")
else:
    print("It does not contain only alphabets")

enter the string hello

It contains only alphabets

#40. Convert a string to a list of characters.

In [8]:
# get an string input from the user
input_str=input("enter the string")

#convert a string into list of characters
new_string=list(input_str)

# display the result
print("modified string is: ",new_string)

enter the string hello world

modified string is:  ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#41. Check if two strings are anagrams.

In [10]:
# get an input string from the user
input_str1=input("enter the first string: ")
input_str2=input("enter the second string: ")

# Remove spaces and convert to lowercase for a case-insensitive comparison
string1 = input_str1.replace(" ", "").lower()
string2 = input_str2.replace(" ", "").lower()

# Check if the sorted characters in both strings are the same
are_anagrams = sorted(string1) == sorted(string2)

# display the result
if are_anagrams==True:
    print("both strings are anagrams")
else:
    print("strings are not anagrams")

enter the first string:  hello
enter the second string:  world

strings are not anagrams

#42. Encode a string using a Caesar cipher.

The Caesar cipher is a simple encryption technique that was used by Julius Caesar to send secret messages to his allies. It works by shifting the letters in the plaintext message by a certain number of positions, known as the “shift” or “key”.

Write down the plaintext message: HELLO
Choose a shift value. In this case, we will use a shift of 3.
Replace each letter in the plaintext message with the letter that is three positions to the right in the alphabet.
         H becomes K (shift 3 from H)

         E becomes H (shift 3 from E)

         L becomes O (shift 3 from L)

         L becomes O (shift 3 from L)

In [17]:
#get a string input from the user
plaintext =input("enter the text")

# get a shift value from the user
shift=int(input("enter the shift value :"))

# Encode the string using a Caesar cipher
encrypted_text = ''.join([chr((ord(char) - ord('A' if char.isupper() else 'a') + shift) % 26 + ord('A' if char.isupper() else 'a')) if char.isalpha() else char for char in plaintext])

# Example usage:
print(f"Original: {plaintext}")
print(f"Encrypted: {encrypted_text}")

enter the text gourav
enter the shift value : 5

Original: gourav
Encrypted: ltzwfa

#43. Decode a Caesar cipher encoded string.

In [1]:
# Encoded string
encoded_text = "ltzwfa"

# Decode the string using a Caesar cipher with a shift of 5
decoded_text = ''.join([chr((ord(char) - ord('A' if char.isupper() else 'a') - 5) % 26 + ord('A' if char.isupper() else 'a')) if char.isalpha() else char for char in encoded_text])

# Example usage:
print(f"Encoded: {encoded_text}")
print(f"Decoded: {decoded_text}")

Encoded: ltzwfa
Decoded: gourav

#44. Find the most frequent word in a string.

In [3]:
import re 

# get an string input from the user
input_str=input("enter the string")

# Remove punctuation and convert to lowercase
cleaned_string = re.sub(r'[^\w\s]', '', input_str.lower())

# split the string into words
words=cleaned_string.split()

# count the occurences of each word using a dictionary
word_count={}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] =1
        
# Find the most common word
most_common_word = max(word_count, key=word_count.get)

# Display the result
print(f"The most frequent word is: {most_common_word}")

enter the string hello is is my cake

The most frequent word is: is

#45. Find all unique words in a string.

In [7]:
import re 

# get an string input from the user
input_str=input("enter the string")

# Remove punctuation and convert to lowercase
cleaned_string = re.sub(r'[^\w\s]', '', input_str.lower())

# split the string into words
words=cleaned_string.split()

# Get unique words using a set
unique_words = set(words)

# Display the result
print(f"Unique words in the string: {unique_words}")

enter the string hello is is my

Unique words in the string: {'my', 'is', 'hello'}

#46. Count the number of syllables in a string.

In [12]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word = input("enter the word :")

# Count syllables
syllables = count_syllables(word)

# Print the results
print(f"'{word}' has {syllables} syllables.")

enter the word : yuhilw

'yuhilw' has 2 syllables.

#47. Check if a string contains any special characters.

In [6]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    symbol = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = symbol.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
# string1 = "Hello, world!"
# string2 = "This is a test."
# string3 = "Special@Characters"
string=input("enter the string :")

# Check if strings contain special characters
result = contains_special_characters(string)
# result2 = contains_special_characters(string2)
# result3 = contains_special_characters(string3)

# Print the results
print(f"'{string}' contains special characters:", result)
# print(f"'{string2}' contains special characters:", result2)
# print(f"'{string3}' contains special characters:", result3)

enter the string : kjsjdk^^

'kjsjdk^^' contains special characters: True

#48. Remove the nth word from a string.

In [12]:
# get an string input fro the user
input_string =input("enter the string: ")

# Split the string into words
words = input_string.split()

# Specify the index of the word to remove (indexing starts from 0)
index_to_remove = int(input("enter the index value"))

# Check if the index is within the range of the words
if 0 <= index_to_remove < len(words):
    # Remove the word at the specified index
    del words[index_to_remove]

    # Join the remaining words back into a string
    modified_string = ' '.join(words)

    # Display the result
    print(f"Original: {input_string}")
    print(f"Modified: {modified_string}")
else:
    print("Invalid index.")

enter the string:  how are you guys
enter the index value 2

Original: how are you guys
Modified: how are guys

#49. Insert a word at the nth position in a string.

In [20]:
# get an input from the user
original_string = input("enter the string :")

# Word to insert
word_to_insert = input("enter the word")

# Specify the index to insert the word (indexing starts from 0)
index_to_insert = int(input("enter the index value"))

# Check if the index is within the range of the original string
if 0 <= index_to_insert <= len(original_string.split()):
    # Split the original string into a list of words
    words = original_string.split()

    # Insert the word at the specified index
    words.insert(index_to_insert, word_to_insert)

    # Join the modified list of words back into a string
    modified_string = ' '.join(words)

    # Display the result
    print(f"Original: {original_string}")
    print(f"Modified: {modified_string}")
else:
    print("Invalid index.")

enter the string : how are you guys
enter the word priya
enter the index value 2

Original: how are you guys
Modified: how are priya you guys

#50. Convert a CSV string to a list of lists.

In [21]:
# Example CSV string
csv_string = "Name,Age,Location\nJohn,25,New York\nJane,30,San Francisco"

# Split the CSV string into lines and then split each line into a list of values
list_of_lists = [line.split(',') for line in csv_string.split('\n') if line]

# Display the result
print(list_of_lists)

[['Name', 'Age', 'Location'], ['John', '25', 'New York'], ['Jane', '30', 'San Francisco']]

List Based Practice Problem :

#1. Create a list with integers from 1 to 10.

In [9]:
#using the list comprehension
integer_lst = [i for i in range(0,11)]
print(integer_lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#2. Find the length of a list without using the `len()` function.

In [1]:
# get a input string from the user
input_lst=input("enter the list separated by spaces: ")
list=input_lst.split()
# Calculate the length without using len()
length = 0

for i in list:
    length += 1

# Display the result
print(f"The length of the list is: {length}")

enter the list separated by spaces:  10 20 30 40 50

The length of the list is: 5

#3. Append an element to the end of a list.

In [2]:
# initialize the list
list=[10,20,30]

# insert the alement using append function
list.append(40)
print(list)

[10, 20, 30, 40]

#4. Insert an element at a specific index in a list.

In [1]:
# initialize the list
list=[10,20,30,40,50,60,70,80,90]

#insert the elMement in the list
data=input("enter the data you want to insert :")
index=int(input("enter the index where you want to insert the data"))

list.insert(index,data)
print(list)

enter the data you want to insert : 45
enter the index where you want to insert the data 2

[10, 20, '45', 30, 40, 50, 60, 70, 80, 90]

#5. Remove an element from a list by its value.

In [8]:
# initialize the list
my_list=[10,20,30,40,50,60,70,80,90]

# get the element by user
element_to_remove=int(input("enter the element you want to remove :"))

if element_to_remove in list:
    my_list.remove(element_to_remove)
    print("updated list :",my_list)
    
else:
    print("element is not present in the list")

enter the element you want to remove : 20

updated list : [10, 30, 40, 50, 60, 70, 80, 90]

#6. Remove an element from a list by its index.

In [2]:
# initialize the list
user_list=[10,20,30,40,50,60,70,80,90]

#get an index by user 
index=int(input("enter the index where you want to remove the data"))

# removing data by pop method
removed_element = user_list.pop(index)
print("updated list :",user_list)
print("removed list is :",removed_element)

enter the index where you want to remove the data 2

updated list : [10, 20, 40, 50, 60, 70, 80, 90]
removed list is : 30

#7. Check if an element exists in a list.

In [6]:
# initialize the list
user_list=[10,20,30,40,50,60,70,80,90]

# get the element by user
element_to_find=int(input("enter the element you want to remove :"))

if element_to_find in user_list:
    print("element is present in the list")
    
else:
    print("element is not present in the list")

enter the element you want to remove : 20

element is present in the list

#8. Find the index of the first occurrence of an element in a list.

In [9]:
# initialize the list
user_list=[10,20,30,40,50,60,70,40,50,80,90]

#get user input Element to find the index of
element_to_find=int(input("enter the element you want to remove :"))

if element_to_find in user_list:
    index = user_list.index(element_to_find)
    print(f"The index of {element_to_find} is {index}")

else:
    print("element is not present in the list")

enter the element you want to remove : 40

The index of 40 is 3

#9. Count the occurrences of an element in a list.

In [3]:
# initialize the list
user_list=[10,20,30,40,50,60,70,40,50,80,90]

#get user input Element to find the index of
element_to_count=int(input("enter the element you want to remove :"))

if element_to_count in user_list:
    # Count the occurrences of the element
    count = user_list.count(element_to_count)
    print(f"The element {element_to_count} occurs {count} times in the list.")

else:
    print("element is not present in the list")

enter the element you want to remove : 40

The element 40 occurs 2 times in the list.

#10. Reverse the order of elements in a list.

In [9]:
# initialize the list
input_list=[10,20,30,40,50,60,70,40,50,80,90]

#reverse the list by reverse method
input_list.reverse()

# print the result
print("reverse list is :",input_list)

reverse list is : [90, 80, 50, 40, 70, 60, 50, 40, 30, 20, 10]

#11. Sort a list in ascending order.

In [10]:
# initialize the list
input_list=[10,20,30,40,50,60,70,40,50,80,90]

#reverse the list by reverse method
input_list.sort()

# print the result
print("sorted list is :",input_list)

sorted list is : [10, 20, 30, 40, 40, 50, 50, 60, 70, 80, 90]

#12. Sort a list in descending order.

In [13]:
# initialize the list
input_list=[10,20,30,40,50,60,70,40,50,80,90]

#reverse the list by reverse method
input_list.sort(reverse=True)

# print the result
print("sorted list is :",input_list)

sorted list is : [90, 80, 70, 60, 50, 50, 40, 40, 30, 20, 10]

#13. Create a list of even numbers from 1 to 20.

In [7]:
# get the range of list from user
rang=int(input("enter the range of the list:"))


# Use a list comprehension to create a list of even numbers from 1 to range
even_numbers = [x for x in range(2, rang,2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

enter the range of the list: 20

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18]

#14. Create a list of odd numbers from 1 to 20.

In [8]:
# get the range of list from user
rang=int(input("enter the range of the list:"))


# Use a list comprehension to create a list of even numbers from 1 to range
even_numbers = [x for x in range(1, rang,2)]

# Print the list of even numbers
print("List of even numbers:", even_numbers)

enter the range of the list: 20

List of even numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#15. Find the sum of all elements in a list.

In [1]:
# Take a list input from the user
user_input = input("Enter a list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list = [int(item.strip()) for item in user_input.split(',')]

# Calculate the sum of all elements in the list
sum_of_elements = sum(user_list)

# Display the result
print(f"The sum of all elements in the list is: {sum_of_elements}")

Enter a list of numbers separated by commas:  20,40,10,50

The sum of all elements in the list is: 120

#16. Find the maximum value in a list.

In [2]:
# Take a list input from the user
user_input = input("Enter a list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list = [int(item.strip()) for item in user_input.split(',')]

# Calculate the sum of all elements in the list
max_of_elements = max(user_list)

# Display the result
print(f"The max of all elements in the list is: {max_of_elements}")

Enter a list of numbers separated by commas:  20,40,50,80

The max of all elements in the list is: 80

#17. Find the minimum value in a list.

In [3]:
# Take a list input from the user
user_input = input("Enter a list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list = [int(item.strip()) for item in user_input.split(',')]

# Calculate the sum of all elements in the list
min_of_elements = min(user_list)

# Display the result
print(f"The min of all elements in the list is: {min_of_elements}")

Enter a list of numbers separated by commas:  20,10,50,5,12

The min of all elements in the list is: 5

#18. Create a list of squares of numbers from 1 to 10.

In [8]:
#using the list comprehension
integer_lst = [i**2 for i in range(0,11)]

print(integer_lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#19. Create a list of random numbers.

In [9]:
import random

# Specify the size of the list
list_size = 10

# Create a list of random numbers
random_numbers = [random.randint(1, 100) for _ in range(list_size)]

# Display the result
print("List of random numbers:", random_numbers)

List of random numbers: [37, 69, 14, 1, 53, 68, 93, 39, 98, 53]

#20. Remove duplicates from a list.

In [11]:
# Take a list input from the user
user_input = input("Enter a list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list = [int(item.strip()) for item in user_input.split(',')]

#remove dublicates by using sets
unique_list=set(user_list)

#print the result
print("list after removing the dublicates elements: ",unique_list)

Enter a list of numbers separated by commas:  10,20,40,40,20,90,70,30,10

list after removing the dublicates elements:  {70, 40, 10, 20, 90, 30}

#21. Find the common elements between two lists.

In [13]:
# Take a list input from the user
user_input1 = input("Enter a first list of numbers separated by commas: ")
user_input2 = input("Enter a second list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list1 = [int(item.strip()) for item in user_input1.split(',')]
user_list2 = [int(item.strip()) for item in user_input2.split(',')]

# Find the common elements using sets
common_elements = list(set(user_list1) & set(user_list2))

# Display the result
print("Common elements:", common_elements)

Enter a first list of numbers separated by commas:  10,20,50,60,70
Enter a second list of numbers separated by commas:  20,50,90,30,40

Common elements: [50, 20]

#22. Find the difference between two lists.

In [14]:
# Example lists
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

#23. Merge two lists.

In [16]:
# Take a list input from the user
user_input1 = input("Enter a first list of numbers separated by commas: ")
user_input2 = input("Enter a second list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list1 = [int(item.strip()) for item in user_input1.split(',')]
user_list2 = [int(item.strip()) for item in user_input2.split(',')]

# Find the common elements using sets
merge_lists = user_list1+user_list2

# Display the result
print("after merging both lists :",merge_lists)

Enter a first list of numbers separated by commas:  10,40,50
Enter a second list of numbers separated by commas:  10,30,80

after merging both lists : [10, 40, 50, 10, 30, 80]

#24. Multiply all elements in a list by 2.

In [23]:
# Take a list input from the user
user_input1 = input("Enter a list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list1 = [int(item.strip()) for item in user_input1.split(',')]

modified_list=[x*2 for x in user_list1]
print("after multiplication of all elements by 2 :",modified_list)

Enter a list of numbers separated by commas:  10,40

after multiplication of all elements by 2 : [20, 80]

#25. Filter out all even numbers from a list.

In [32]:
# Take a list input from the user
user_input1 = input("Enter a list of numbers separated by commas: ")

# Convert the input string to a list of integers
user_list1 = [int(item.strip()) for item in user_input1.split(',')]

# Filter out even numbers using list comprehension
filtered_list = [element for element in user_list1 if element % 2 == 0]

# Display the result
print("Original list:", user_list1)
print("Filtered list (even numbers only):", filtered_list)

Enter a list of numbers separated by commas:  10,12,15,18,35,45,16

Original list: [10, 12, 15, 18, 35, 45, 16]
Filtered list (even numbers only): [10, 12, 18, 16]

#26. Convert a list of strings to a list of integers.

In [33]:
# Example list of strings
string_list = ['1', '2', '3', '4', '5']

# Convert the list of strings to a list of integers
integer_list = [int(element) for element in string_list]

# Display the result
print("Original list of strings:", string_list)
print("Converted list of integers:", integer_list)

Original list of strings: ['1', '2', '3', '4', '5']
Converted list of integers: [1, 2, 3, 4, 5]

#27. Convert a list of integers to a list of strings.

In [34]:
# Example list of strings
string_list = [1,2,3,4,5]

# Convert the list of strings to a list of integers
integer_list = [str(element) for element in string_list]

# Display the result
print("Original list of strings:", integer_list)
print("Converted list of integers:", string_list)

Original list of strings: ['1', '2', '3', '4', '5']
Converted list of integers: [1, 2, 3, 4, 5]

#28. Flatten a nested list.

In [35]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, [7, 8]]]

# Flatten the nested list using iteration
flattened_list = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]

# Display the result
print("Original nested list:", nested_list)
print("Flattened list:", flattened_list)

Original nested list: [[1, 2, 3], [4, 5], [6, [7, 8]]]
Flattened list: [1, 2, 3, 4, 5, 6, [7, 8]]

#29. Create a list of the first 10 Fibonacci numbers.

In [27]:
# Take the last element of the Fibonacci sequence from the user
last_element = int(input("Enter the last element of the Fibonacci sequence: "))

# Create a list of Fibonacci numbers until reaching or exceeding the last element
fibonacci_list = [0, 1]
while fibonacci_list[-1] < last_element:
    next_number = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_number)

# Display the result
print("Fibonacci sequence:", fibonacci_list[:-1])  # Exclude the last element that exceeded the input

Enter the last element of the Fibonacci sequence:  56

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

#30. Check if a list is sorted.

In [13]:
# Example list
my_list = [1, 2, 3, 2, 5]

# Check if the list is sorted
is_sorted = all(my_list[i] <= my_list[i + 1] for i in range(len(my_list) - 1))

# Display the result
print("Is the list sorted?", is_sorted)

Is the list sorted? False

#31.Rotate a list to the left by `n` positions.

In [11]:
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = int(input("enter the position by you want to move to left: "))

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

enter the position by you want to move to left:  2

Rotated list: [3, 4, 5, 6, 1, 2]

#32.Rotate a list to the right by `n` positions.

In [10]:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = int(input("enter the position by you want to move to left: "))

# Rotate the list to the left by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

enter the position by you want to move to left:  2

Rotated list: [5, 6, 1, 2, 3, 4]

#33. Create a list of prime numbers up to 50.

In [1]:
def is_prime(num):
    """Check if a number is prime."""
    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers_up_to_50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#34. Split a list into chunks of size `n`.

In [2]:
def chunk_list(lst, n):
    """
    Split a list into chunks of size n.

    Parameters:
    - lst: The list to split.
    - n: The size of each chunk.

    Returns:
    A list of chunks.
    """
    chunked_list = []
    for i in range(0, len(lst), n):
        chunked_list.append(lst[i:i+n])
    return chunked_list

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunked_list = chunk_list(original_list, 3)
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

#35. Find the second largest number in a list.

In [14]:
#example list
list1=[4,5,2,5,8,5,58,74,5,8,74,201,455]

#sorted the list using sort method
list1.sort()
print("sorted_list",list1)

#find the seconf largest element in the list and display the result
second_max_number=list1[-2]
print("second largest element is this list is :",second_max_number)

sorted_list [2, 4, 5, 5, 5, 5, 8, 8, 58, 74, 74, 201, 455]
second largest element is this list is : 201

#36. Replace every element in a list with its square.

In [36]:
#example list
list=[1,5,5,3,56,7,8,5,4,7]

#sqaure the list using for loop
square_list=[]
for i in list:
    i**2
    square_list.append(i**2)

    # display the result
print(square_list)

[1, 25, 25, 9, 3136, 49, 64, 25, 16, 49]

#37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [40]:
#example list
list1=["banana","apple","orange","pineapple"]

# Convert the list to a dictionary
my_dict = {element: index for index, element in enumerate(list1)}

# display the result
print(my_dict)

{'banana': 0, 'apple': 1, 'orange': 2, 'pineapple': 3}

#38. Shuffle the elements of a list randomly.

In [43]:
import random

#initialize the list
list2=[4,5,8,53,5,7,8,2,574,7,8,5]
print("original list is ",list2)
#shuffle the element of list randomly using shuffle functiom
random.shuffle(list2)

print("list after shuffle the elements is",list2)

original list is  [4, 5, 8, 53, 5, 7, 8, 2, 574, 7, 8, 5]
list after shuffle the elements is [2, 574, 5, 8, 4, 7, 5, 53, 5, 8, 7, 8]

#39. Create a list of the first 10 factorial numbers.

In [1]:
# Function to calculate the factorial of a number
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

#40. Check if two lists have at least one element in common.

In [9]:
#initialize two lists
list1=[8,25,58,85,52,5,8,5,5,58,8]
list2=[7,8,5,85,58,2,41,41,52,5]

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

#41. Remove all elements from a list.

In [24]:
#examplen list
list1=[1,5,8,5,8,8,5]

#clear the list using clear function
list1.clear()

#display the result
print(list1)

[]

#42. Replace negative numbers in a list with 0.

In [34]:
#initialize the list
my_list=[-3,45,-8,-25,455,47,-36]

# Replace negative numbers with 0 using a for loop
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[0, 45, 0, 0, 455, 47, 0]

#43. Convert a string into a list of words.

In [36]:
# initialize the string
user_string= "Sudhanshu is a good teacher"

# convert string into list of words using split method
my_list=user_string.split()

# display the result
print(my_list)

['Sudhanshu', 'is', 'a', 'good', 'teacher']

#44. Convert a list of words into a string.

In [40]:
#example usage
list2=['Sudhanshu', 'is', 'a', 'good', 'teacher']

# convert the list of words to a string
result_string = ' '.join(list2)

# print the result
print(result_string)

Sudhanshu is a good teacher

#45. Create a list of the first `n` powers of 2.

In [43]:
# get n input from the user
n=int(input("enter the n value :"))
 
# calculate power of 2 using list comprehension
power_of_two=[2**i for i in range(n)]

# display the result
print(power_of_two)

enter the n value : 5

[1, 2, 4, 8, 16]

#46. Find the longest string in a list of strings.

In [9]:
# get an input list from the user
list=input("enter the list of words :")

# convert the words of list into strings using split function
list_words=list.split()
print("strings in the list ",list_words)

# finding the shortest using recursive function
def longest(list_words):
    if len(list_words)==1:
        return list_words[0]
    else:
        return max(list_words[0],longest(list_words[1:]))
    
longest(list_words)

enter the list of words : my name is sakshi

strings in the list  ['my', 'name', 'is', 'sakshi']

'sakshi'

#47. Find the shortest string in a list of strings.

In [15]:
# get an input list from the user
list=input("enter the list of words :")

# convert the words of list into strings using split function
list_words=list.split()
print("strings in the list ",list_words)


# finding the shortest string using recursive function
def shortest(list_words):
    if len(list_words)==1:
        return list_words[0]
    else:
        return min(list_words[0],shortest(list_words[1:]))
    
shortest(list_words)

enter the list of words : I am a student of pwskills

strings in the list  ['I', 'am', 'a', 'student', 'of', 'pwskills']

'I'

#48. Create a list of the first `n` triangular numbers.

In [23]:
# get n input from the user
n=int(input("enter the value of n :"))

list_of_triangular_number=[]

#calculating the list of triangular numbers using for loop
for i in range(1,n+1):
    list_of_triangular_number.append(i * (i + 1) // 2)

print(list_of_triangular_number)

enter the value of n : 6

[1, 3, 6, 10, 15, 21]

#49. Check if a list contains another list as a subsequence.

In [26]:
def is_subsequence(subsequence, sequence):
    sub_len, seq_len = len(subsequence), len(sequence)
    
    sub_idx = 0
    for i in range(seq_len):
        if sequence[i] == subsequence[sub_idx]:
            sub_idx += 1
            if sub_idx == sub_len:
                return True
    
    return sub_idx == sub_len

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list = [3, 5, 8]

result = is_subsequence(sub_list, main_list)

if result:
    print(f"{sub_list} is a subsequence of {main_list}.")
else:
    print(f"{sub_list} is not a subsequence of {main_list}.")

[3, 5, 8] is a subsequence of [1, 2, 3, 4, 5, 6, 7, 8, 9].

#50. Swap two elements in a list by their indices.

In [4]:
def swap_elements(user_list,index1,index2):
    if 0 <= index1 < len(user_list) and 0 <= index2 < len(user_list):
        user_list[index1], user_list[index2] = user_list[index2], user_list[index1]
        
# get the list input from the user
list=input("enter the list of numbers by spaces :")

# Converting the input string into a list of integers
user_list = [int(item) for item in list.split()]

# Print the resulting list
print("List entered by the user:", user_list)

swap_elements(user_list,1,5)
print("after swapping the lements by indexs: ",user_list)

enter the list of numbers by spaces : 45 36 73 19 49 61 34

List entered by the user: [45, 36, 73, 19, 49, 61, 34]
after swapping the lements by indexs:  [45, 61, 73, 19, 49, 36, 34]

#Tuple Based Practice Problem :

#1. Create a tuple with integers from 1 to 5.

In [7]:
# printing the tuple with range 1 to 5
my_tuple = tuple(i for i in range(1, 6))

# display the result
print(my_tuple)

(1, 2, 3, 4, 5)

#2. Access the third element of a tuple.

In [10]:
# printing the tuple with range 1 to 5
my_tuple = tuple(i for i in range(1, 12))

# display the result
print(my_tuple)

# accessing the third element in the tuple
third=my_tuple[2]
print("third element in the tuple is :",third)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
third element in the tuple is : 3

#3. Find the length of a tuple without using the `len()` function.

In [13]:
# printing the tuple with range 1 to 5
my_tuple = tuple(i for i in range(1, 12))

# display the result
print(my_tuple)

count=0

for i in my_tuple:
    count += 1

print("length of the tuple is :",count)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
length of the tuple is : 11

#4. Count the occurrences of an element in a tuple.

In [3]:
# # printing the tuple with range 1 to 5
# my_tuple = (i for i in range(1, 12))

# print(tuple(my_tuple))

my_tuple = (1, 2, 3, 4, 2, 5, 2)
element=int(input("enter the element which you want to count"))
occurences = my_tuple.count(element)

print("the occurences of ",element,"in the tuple is :",occurences)

enter the element which you want to count 2

the occurences of  2 in the tuple is : 3

#5. Find the index of the first occurrence of an element in a tuple.

In [5]:
#finding the first occurences of element by index function
my_tuple = (1, 2, 3, 4, 2, 5, 2)
element=int(input("enter the element which you want to count"))
first_occurences = my_tuple.index(element)

print("the occurences of ",element,"in the tuple is :",first_occurences)

enter the element which you want to count 4

the occurences of  4 in the tuple is : 3

#6. Check if an element exists in a tuple.

In [9]:
# printing the tuple with range 1 to 5
my_tuple = tuple(i for i in range(1, 12))

# display the result
print(my_tuple)

element =int(input("enter the element which you want to check :"))
             
if element in my_tuple:
    print("yes the element is prersent in the tuple")
else:
    print("NO! the element is not prersent in the tuple")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

enter the element which you want to check : 13

NO! the element is not prersent in the tuple

#7. Convert a tuple to a list.

In [15]:
# printing the tuple with range 1 to 5
my_tuple = tuple(i for i in range(1, 12))

# display the result
print(my_tuple)
print("after converting into list :",(list(my_tuple)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
after converting into list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#8. Convert a list to a tuple.

In [19]:
# get the input from the user
my_list=input("enter the elements of list separated with spaces :")

# converting the input into list using split function
user_list=[int(i) for i in my_list.split()]

# display the list
print("giving list is :",user_list)

#converting this list into the tuple
print("after converting into tuple is :",tuple(user_list))

enter the elements of list separated with spaces : 12 3 5 5 859 6 8698

giving list is : [12, 3, 5, 5, 859, 6, 8698]
after converting into tuple is : (12, 3, 5, 5, 859, 6, 8698)

#9. Unpack the elements of a tuple into variables.

In [17]:
import time
# getting the string input from the user
my_tuple=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple = tuple(map(int, my_tuple.split(',')))

# Print the resulting tuple
print("Tuple entered by the user:", user_tuple)

count=0
for i in user_tuple:
    next_variable=user_tuple[count]
    # count +=1
    print("variable",count+1,next_variable)
    count +=1
    time.sleep(1)

enter the elements of tuple separated by commas: 41,52,63,74,85,96

Tuple entered by the user: (41, 52, 63, 74, 85, 96)
variable 1 41
variable 2 52
variable 3 63
variable 4 74
variable 5 85
variable 6 96

#10. Create a tuple of even numbers from 1 to 10.

In [12]:
#start the tuple from 2 and skip the one element from the range 1 to 10 and display the result
user_tuple=tuple(i for i in range(2,11,2))

print("even numbers tuple :",user_tuple)

even numbers tuple : (2, 4, 6, 8, 10)

#11. Create a tuple of odd numbers from 1 to 10.

In [13]:
#start the tuple from 1 and skip the one element from the range 1 to 10 and display the result
user_tuple=tuple(i for i in range(1,11,2))

print("odd numbers tuple :",user_tuple)

odd numbers tuple : (1, 3, 5, 7, 9)

#12. Concatenate two tuples.

In [19]:
# getting the first string input from the user
my_tuple1=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple1= tuple(map(int, my_tuple1.split(',')))

# getting the second string input from the user
my_tuple2=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple2 = tuple(map(int, my_tuple2.split(',')))

print("our two tuples are :",user_tuple1,user_tuple2)

# concatinate these two tuples
new_tuple=user_tuple1 + user_tuple2

# display the result
print("after concatinate these two tuples :",new_tuple)

enter the elements of tuple separated by commas: 41,52,63
enter the elements of tuple separated by commas: 47,58,69

our two tuples are : (41, 52, 63) (47, 58, 69)
after concatinate these two tuples : (41, 52, 63, 47, 58, 69)

#13. Repeat a tuple three times.

In [1]:
# initializing the tuple
my_tuple=(4,5,6,7,8)

# creating tuple 3 times
new_tup=my_tuple*3

# display result
print("new tuple is :",new_tup)

new tuple is : (4, 5, 6, 7, 8, 4, 5, 6, 7, 8, 4, 5, 6, 7, 8)

#14. Check if a tuple is empty.

In [4]:
# initializing the tuple
my_tuple=(4,5,6,7,8)

# check if a tuple is empty
if len(my_tuple)==0:
    print("empty tuple")
else:
    print("tuple is containing some elements")

tuple is containing some elements

#15. Create a nested tuple.

In [5]:
# getting the first string input from the user
my_tuple1=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple1= tuple(map(int, my_tuple1.split(',')))

# getting the second string input from the user
my_tuple2=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple2 = tuple(map(int, my_tuple2.split(',')))

# join these two tuples and display the result
nested_tuple=(user_tuple1,user_tuple2)

print("the nested tuple is :",nested_tuple)

enter the elements of tuple separated by commas: 4,2,5,6,3
enter the elements of tuple separated by commas: 7,8,9,63,5

the nested tuple is : ((4, 2, 5, 6, 3), (7, 8, 9, 63, 5))

#16. Access the first element of a nested tuple.

In [9]:
# initialize the nested tuple
Nested_tuple = ((4, 2, 5, 6, 3), (7, 8, 9, 63, 5))

# accessing the first element
element = Nested_tuple[0][0]

print("the first element is :",element)

the first element is : 4

#17. Create a tuple with a single element.

In [11]:
# Get user input for a single element
user_input = input("Enter a value for the tuple: ")

# Create a tuple with a single element
single_element_tuple = (user_input,)

# Display the tuple
print("Single-element tuple:", single_element_tuple)

Enter a value for the tuple:  45

Single-element tuple: ('45',)

#18. Compare two tuples.

In [12]:
# getting the first string input from the user
my_tuple1=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple1= tuple(map(int, my_tuple1.split(',')))

# getting the second string input from the user
my_tuple2=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple2 = tuple(map(int, my_tuple2.split(',')))

# comapring these two tuples
if user_tuple1==user_tuple2:
    print("tuples are equal")
else:
    print("tuples are not equal")

enter the elements of tuple separated by commas: 4,5,6,1,2
enter the elements of tuple separated by commas: 4,5,6,1,2

tuples are equal

#19. Delete a tuple.

In [17]:
# initializing the tuple
my_tuple=(4,5,6,7,8)

print("before deleting :",my_tuple)

# deleting the tuple
del my_tuple

before deleting : (4, 5, 6, 7, 8)

#20. Slice a tuple.

In [19]:
# initializing the tuple
my_tuple=(4,5,6,7,8,3,6,9)
print("original tuple :",my_tuple)

# slicing of tuple 
sliced_tuple=my_tuple[1:5]

# display the result
print("after slicing :",sliced_tuple)

original tuple : (4, 5, 6, 7, 8, 3, 6, 9)
after slicing : (5, 6, 7, 8)

#21. Find the maximum value in a tuple.

In [20]:
# initializing the tuple
my_tuple=(4,5,6,7,8,3,6,9)
print("The tuple is :",my_tuple)

# finding maximum using max function
result=max(my_tuple)

# display the result
print("max element in the tuple is :",result)

The tuple is : (4, 5, 6, 7, 8, 3, 6, 9)
max element in the tuple is : 9

#22. Find the minimum value in a tuple.

In [23]:
# initializing the tuple
my_tuple=(4,5,6,7,8,3,6,9)
print("The tuple is :",my_tuple)

# finding maximum using max function
result=min(my_tuple)

# display the result
print("min element in the tuple is :",result)

The tuple is : (4, 5, 6, 7, 8, 3, 6, 9)
min element in the tuple is : 3

#23. Convert a string to a tuple of characters.

In [25]:
# takimg string input from the user
input_str=input("enter your string")
print("string is :",input_str)

# Converting a string to a tuple of characters.
char_tuple = tuple(input_str)

# display the result
print("after Converting a string to a tuple of characters :",char_tuple)

enter your string sakshi

string is : sakshi
after Converting a string to a tuple of characters : ('s', 'a', 'k', 's', 'h', 'i')

#24. Convert a tuple of characters to a string.

In [35]:
# getting the first string input from the user
my_tuple1=input("enter the elements of tuple separated by commas:")

# Split the input string and convert to a tuple
user_tuple1= tuple(my_tuple1)

print("our tuple is :",user_tuple1)

# converting the tuple in string
result_str = ''.join(user_tuple1)

# display the result
print("after converting into string is :",result_str)

enter the elements of tuple separated by commas: sakshi

our tuple is : ('s', 'a', 'k', 's', 'h', 'i')
after converting into string is : sakshi

#25. Create a tuple from multiple data types.

In [38]:
# Get input from the user for different data types
element1 = input("Enter an integer: ")

# Check and convert to integer with default value
element1 = int(element1) if element1.isdigit() else 0

element2 = input("Enter a float: ")

# Check and convert to float with default value
element2 = float(element2) if "." in element2 and all(part.isdigit() for part in element2.split(".")) else 0.0

element3 = input("Enter a string: ")

# Create a tuple with multiple data types
mixed_tuple = (element1, element2, element3)

# Display the result
print("Mixed Data Type Tuple:", mixed_tuple)

Enter an integer:  5
Enter a float:  3
Enter a string:  "sudh"

Mixed Data Type Tuple: (5, 0.0, '"sudh"')

#26. Check if two tuples are identical.

In [39]:
# Example tuples
tuple1 = (1, 2, 3,8,6,45,36)
tuple2 = (1, 2, 3,74,9,6,3,2,8)

# Check if the tuples are identical
if tuple1 == tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

#27. Sort the elements of a tuple.

In [45]:
# Example tuples
tuple1 = (16, 2,83,8,6,45,36)

# sort the tuple using sort method
sorted_tuple=tuple(sorted(tuple1))

# display the result
print("original tuple :",tuple1)
print("after sorting :",sorted_tuple)

original tuple : (16, 2, 83, 8, 6, 45, 36)
after sorting : (2, 6, 8, 16, 36, 45, 83)

#28. Convert a tuple of integers to a tuple of strings.

In [53]:
# Example tuples
tuple1 = (16, 2,83,8,6,45,36)

# converting tuple of integers to a tuple of strings.
str_tuple= tuple(map(str, tuple1))

# display the result
print("after converting :",str_tuple)

after converting : ('16', '2', '83', '8', '6', '45', '36')

#29. Convert a tuple of strings to a tuple of integers.

In [54]:
# initialize the tuple
tuple2 = ('16', '2', '83', '8', '6', '45', '36')

# Converting a tuple of strings to a tuple of integers.
int_tuple= tuple(map(int, tuple1))

# display the result
print("after converting :",int_tuple)

after converting : (16, 2, 83, 8, 6, 45, 36)

#30. Merge two tuples.

In [55]:
# Example tuples
tuple1 = (16, 2,83,8,6,45,36)
tuple1 = (16, 2,83,8,6)

# merging the tuples
merged_tuple=tuple1+tuple2

# display the result
print("after merging :",merged_tuple)

after merging : (16, 2, 83, 8, 6, '16', '2', '83', '8', '6', '45', '36')

#31. Flatten a nested tuple.

In [56]:
from itertools import chain

# Example nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Flatten the nested tuple using itertools.chain()
flattened_tuple = tuple(chain(*nested_tuple))

# Display the result
print("Original Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Original Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
Flattened Tuple: (1, 2, 3, 'a', 'b', 'c', True, False)

#32. Create a tuple of the first 5 prime numbers.

In [57]:
# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Generate a tuple of the first 5 prime numbers
prime_numbers = tuple([num for num in range(2, 20) if is_prime(num)][:5])

# Display the result
print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

#33. Check if a tuple is a palindrome.

In [16]:
def is_palindrome(input_tuple):
    return input_tuple == input_tuple[::-1]

# Get tuple input from the user
user_input = input("Enter a tuple of elements (comma-separated): ")

# Split the input and check if all elements are integers
input_elements = user_input.split(',')
if all(element.isdigit() for element in input_elements):
    # Convert user input to a tuple
    user_tuple = tuple(map(int, input_elements))
    
    # Check if the tuple is a palindrome
    if is_palindrome(user_tuple):
        print("The tuple is a palindrome")
    else:
        print("The tuple is not a palindrome")
else:
    print("Invalid input. Please enter a valid tuple of integers.")

Enter a tuple of elements (comma-separated):  45,12,6,12,45

The tuple is a palindrome

#34. Create a tuple of squares of numbers from 1 to 5.

In [22]:
# printing the tuple with range 1 to 5
my_tuple = tuple(i for i in range(1, 6))
print("tuple is :",my_tuple)

square_tuple=tuple(i*i for i in my_tuple)
print("squared tuple is :",square_tuple)

tuple is : (1, 2, 3, 4, 5)
squared tuple is : (1, 4, 9, 16, 25)

#35. Filter out all even numbers from a tuple.

In [23]:
# Get tuple input from the user
user_input = input("Enter a tuple of elements (comma-separated): ")

# Split the input and check if all elements are integers
input_elements = user_input.split(',')
if all(element.isdigit() for element in input_elements):
    # Convert user input to a tuple
    user_tuple = tuple(map(int, input_elements))
    
even_element=tuple(i for i in user_tuple if i%2==0)
print("even elements in the tuple is :",even_element)

Enter a tuple of elements (comma-separated):  45,12,6,65,74,85,36

even elements in the tuple is : (12, 6, 74, 36)

#36. Multiply all elements in a tuple by 2.

In [1]:
# get the tuple input from user
user_input=input("enter the tuple of elements (comma-seprarted):")

# split the input and check if all the elements are integers
input_elements=user_input.split(',')
if all (element.isdigit() for element in input_elements):
    # convert user input to a tuple
    user_tuple=tuple(map(int,input_elements))


multiply = tuple(i*2 for i in user_tuple)
print("after multiplying each element of a tuple by 2 :",multiply)

enter the tuple of elements (comma-seprarted): 14,25,36

after multiplying each element of a tuple by 2 : (28, 50, 72)

#37. Create a tuple of random numbers.

In [2]:
import random


# Generate a tuple of 5 random numbers between 1 and 100
random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Display the result
print("Tuple of random numbers:", random_numbers_tuple)

Tuple of random numbers: (18, 55, 49, 25, 93)

#38. Check if a tuple is sorted.

In [11]:
# get the tuple input from user
user_input=input("enter the tuple of elements (comma-seprarted):")

# split the input and check if all the elements are integers
input_elements=user_input.split(',')
if all (element.isdigit() for element in input_elements):
    # convert user input to a tuple
    user_tuple=tuple(map(int,input_elements))
    
if tuple(sorted(user_tuple))==user_tuple:
    print("tuple is sorted")
else:
    print("tuple is not sorted")

enter the tuple of elements (comma-seprarted): 54,12,34,91

tuple is not sorted

#39. Rotate a tuple to the left by `n` positions.

In [24]:
def rotate_left(input_tuple, n):
    n = n % len(input_tuple)  # Ensure rotation within the length of the tuple
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    return rotated_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
n_positions = 2
rotated_tuple = rotate_left(original_tuple, n_positions)

# Display the result
print("Original Tuple:", original_tuple)
print(f"Rotated Tuple to the left by {n_positions} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple to the left by 2 positions: (3, 4, 5, 1, 2)

#40. Rotate a tuple to the right by `n` positions.

In [33]:
def rotate_right(input_tuple, n):
    n = n % len(input_tuple)  # Ensure rotation within the length of the tuple
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    return rotated_tuple

# Example tuple
original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
n_positions = 2
rotated_tuple = rotate_right(original_tuple, n_positions)

# Display the result
print("Original Tuple:", original_tuple)
print(f"Rotated Tuple to the right by {n_positions} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple to the right by 2 positions: (4, 5, 1, 2, 3)

#41. Create a tuple of the first 5 Fibonacci numbers.

In [34]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers)

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Display the result
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

#42. Create a tuple from user input.

In [35]:
# get the tuple input from user
user_input=input("enter the tuple of elements (comma-seprarted):")

# split the input and check if all the elements are integers
input_elements=user_input.split(',')
if all (element.isdigit() for element in input_elements):
    # convert user input to a tuple
    user_tuple=tuple(map(int,input_elements))
    
print("user input tuple is :",user_tuple)

enter the tuple of elements (comma-seprarted): 14,25,36,74,85,96

user input tuple is : (14, 25, 36, 74, 85, 96)

#43. Swap two elements in a tuple.

In [2]:
# get the tuple input from user
user_input=input("enter the tuple of elements (comma-seprarted):")

# split the input and check if all the elements are integers
input_elements=user_input.split(',')
if all (element.isdigit() for element in input_elements):
    # convert user input to a tuple
    user_tuple=tuple(map(int,input_elements))
    
print("user input tuple is :",user_tuple)

n, n1 = map(int, input("Enter values for n and n1 separated by a space: ").split())



# Display the inputs
print("You entered:",n, "and",n1)

# Convert the tuple to a list for modification
temp_list = list(user_tuple)

# Swap the elements
temp_list[n], temp_list[n1] = temp_list[n1], temp_list[n]

# Convert the list back to a tuple
swapped_tuple = tuple(temp_list)

# Display the result
print("Original Tuple:", user_tuple)
print(f"Tuple after swapping elements at indices {n} and {n1}:", swapped_tuple)

enter the tuple of elements (comma-seprarted): 41,52,63,74,85,96

user input tuple is : (41, 52, 63, 74, 85, 96)

Enter values for n and n1 separated by a space:  1 5

You entered: 1 and 5
Original Tuple: (41, 52, 63, 74, 85, 96)
Tuple after swapping elements at indices 1 and 5: (41, 96, 63, 74, 85, 52)

#44. Reverse the elements of a tuple.

In [3]:
# example usage
my_tuple=(1,2,5,4,6)

# reverse the tuple
reverse_tuple=my_tuple[::-1]

# display the result
print("original tuple :",my_tuple)
print("after reversing the elements :",reverse_tuple)

original tuple : (1, 2, 5, 4, 6)
after reversing the elements : (6, 4, 5, 2, 1)

#45. Create a tuple of the first `n` powers of 2.

In [6]:
# take the range input from the user
n=int(input("enter the range input from the user :"))

my_list=[i*i for i in range(0,n+1)]
my_tuple=tuple(my_list)

print("the powered tuple is :",my_tuple)

enter the range input from the user : 5

the powered tuple is : (0, 1, 4, 9, 16, 25)

#46. Find the longest string in a tuple of strings.

In [10]:
# initialize the tuple
my_tup=("sudh","sakshi","himanshi","gourav","rahul")

# Find the longest string in the tuple
longest_string = max(my_tup, key=len)

# print the result
print("longest string in the tuple is :",longest_string)

longest string in the tuple is : himanshi

#47. Find the shortest string in a tuple of strings.

In [11]:
# initialize the tuple
my_tup=("sudh","sakshi","himanshi","gourav","rahul")

# Find the longest string in the tuple
shortest_string = min(my_tup, key=len)

# print the result
print("shortest string in the tuple is :",shortest_string)

shortest string in the tuple is : sudh

#48. Create a tuple of the first `n` triangular numbers.

In [7]:
# take range input from the user
n=int(input("enter the range :"))

triangular_numbers =[i * (i + 1) // 2 for i in range(1, n + 1)]

print(f"triangle numbers in first {n} numbers are {triangular_numbers}")

enter the range : 5

triangle numbers in first 5 numbers are [1, 3, 6, 10, 15]

#49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
def is_subsequence(sub, larger):
    n = len(sub)
    for i in range(len(larger) - n + 1):
        if larger[i:i+n] == sub:
            return True
    return False

# Example tuples
larger_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
subsequence_tuple = (3, 4, 5)

# Check if the subsequence exists in the larger tuple
result = is_subsequence(subsequence_tuple, larger_tuple)

# Display the result
print("Larger Tuple:", larger_tuple)
print("Subsequence Tuple:", subsequence_tuple)
print("Is Subsequence:", result)

#50. Create a tuple of alternating 1s and 0s of length `n`.

In [11]:
# Function to create a tuple of alternating 1s and 0s
def create_alternating_tuple(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Example: Create a tuple of alternating 1s and 0s of length 10
n = 10
alternating_tuple = create_alternating_tuple(n)

# Display the result
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 10: (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

#1. Create a set with integers from 1 to 5.

In [14]:
set([i for i in range(1,6)])

{1, 2, 3, 4, 5}

#2. Add an element to a set.

In [21]:
# take set range input from the user
n=int(input("enter the range value :"))

# printing set of range 5
my_set = set([i for i in range(1,n+1)])
print("set is :",my_set)

# adding element by add function
new_element=45
my_set.add(new_element)
print("after adding new element :",my_set)

enter the range value : 5

set is : {1, 2, 3, 4, 5}
after adding new element : {1, 2, 3, 4, 5, 45}

#3. Remove an element from a set.

In [22]:
# initialize the set
set1= {1, 2, 3, 4, 5}

# removing the element by remove method
set1.remove(5)
print("after removing :",set1)

after removing : {1, 2, 3, 4}

#4. Check if an element exists in a set.

In [53]:
# Take set input from the user
input_str = input("Enter elements separated by spaces to create a set: ")

# Convert the input string to a set
user_set = set(map(int,input_str.split(',')))

# Display the set entered by the user
print("Set entered by the user:", user_set)

element=int(input("enter the element you want to check :"))
result =True  if element in user_set else False

print("element is present in the set :",result)

Enter elements separated by spaces to create a set:  41,52,63,74,85,96

Set entered by the user: {96, 41, 74, 52, 85, 63}

enter the element you want to check : 85

element is present in the set : True

#5. Find the length of a set without using the `len()` function.

In [55]:
# Take set input from the user
input_str = input("Enter elements separated by spaces to create a set: ")

# Convert the input string to a set
user_set = set(map(int,input_str.split(',')))

# Display the set entered by the user
print("Set entered by the user:", user_set)

count = 0

for element in user_set:
    count =count+1
print("length of the set is :",count)

Enter elements separated by spaces to create a set:  41,52,63,74,85,96

Set entered by the user: {96, 41, 74, 52, 85, 63}
length of the set is : 6

#6. Clear all elements from a set.

In [56]:
# initialize the set
set1={96, 41, 74, 52, 85, 63}
print("our set is :",set1)
# clear the set by clear method
set1.clear()
print("after clearing :",set1)

our set is : {96, 52, 85, 41, 74, 63}
after clearing : set()

#7. Create a set of even numbers from 1 to 10.

In [59]:
set([i for i in range(1,11) if i%2==0])

{2, 4, 6, 8, 10}

#8. Create a set of odd numbers from 1 to 10.

In [60]:
set([i for i in range(1,11) if i%2!=0])

{1, 3, 5, 7, 9}

#9. Find the union of two sets.

In [63]:
# initialize two sets
set1 ={2, 4, 6, 8, 10}
set2 ={1, 3, 5, 7, 9}

# using the union method
union_set = set1.union(set2)
print("after union :",union_set)

after union : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#10. Find the intersection of two sets.

In [67]:
# initialize two sets
set1 ={2, 4, 6, 8, 10}
set2 ={2,4,6, 7, 9}

# using intersection method
inter_set = set1.intersection(set2)
print("after intersection :",inter_set)

after intersection : {2, 4, 6}

#11. Find the difference between two sets.

In [76]:
# initialize two sets
set1 ={2, 43, 61, 82, 10}
set2 ={2,43,7,2,8}

# using difference method
diff_set = set1 - set2
print("difference in sets :",diff_set)

difference in sets : {82, 10, 61}

#12. Check if a set is a subset of another set.

In [79]:
# initialize two sets
set1 ={2, 43, 61, 82, 10}
set2 ={2,43}


# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# display the result
print("set1 is :",set1)
print("set2 is :",set2)
print("is set 2 i sa subset of set 1 :",is_subset)

set1 is : {2, 82, 10, 43, 61}
set2 is : {2, 43}
is set 2 i sa subset of set 1 : True

#13. Check if a set is a superset of another set.

In [81]:
# initialize two sets
set1 ={2, 43, 61, 82, 10}
set2 ={2,43}


# Check if set2 is a subset of set1
is_super = set1.issuperset(set2)

# display the result
print("set1 is :",set1)
print("set2 is :",set2)
print("is set 1 is a super set of set 1 :",is_super)

set1 is : {2, 82, 10, 43, 61}
set2 is : {2, 43}
is set 1 is a super set of set 1 : True

#14. Create a set from a list.

In [83]:
list_1=[41,52,63,74,85,96]

# convert the list into set
my_set=set(list_1)

# display the result
print("our list is :",list_1)
print("after converting into set :",my_set)

our list is : [41, 52, 63, 74, 85, 96]
after converting into set : {96, 41, 74, 52, 85, 63}

#15. Convert a set to a list.

In [84]:
# example usage
set_1={96, 41, 74, 52, 85, 63}

# converting set into list
list1=list(set_1)

# display the result
print("our set is :",set_1)
print("after converting into list :",list1)

our set is : {96, 52, 85, 41, 74, 63}
after converting into list : [96, 52, 85, 41, 74, 63]

#16. Remove a random element from a set.

In [107]:
import random

# example usage
set_1={96, 41, 74, 52, 85, 63}
list_1=list(set_1)
# Remove a random element using pop()
removed_element = random.choice(list_1)

# Display the results
print("Original Set:", set_1)
print("Removed Element:", removed_element)

Original Set: {96, 52, 85, 41, 74, 63}
Removed Element: 96

#17. Pop an element from a set.

In [110]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Pop an element using pop()
popped_element = my_set.pop()

# Display the results
print("Original Set:", my_set)
print("Popped Element:", popped_element)

Original Set: {2, 3, 4, 5}
Popped Element: 1

#18. Check if two sets have no elements in common.

In [1]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets are disjoint
are_disjoint = set1.isdisjoint(set2)

# Display the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Are the sets disjoint?", are_disjoint)

Set 1: {1, 2, 3, 4, 5}
Set 2: {6, 7, 8, 9, 10}
Are the sets disjoint? True

#19. Find the symmetric difference between two sets.

In [4]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


# Using the ^ operator
symmetric_difference_operator = set1 ^ set2

# Display the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Symmetric Difference using ^ operator:", symmetric_difference_operator)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Symmetric Difference using ^ operator: {1, 2, 3, 6, 7, 8}

#20. Update a set with elements from another set.

In [5]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Create a new set with elements from set1 and set2
new_set = set1.union(set2)  # or new_set = set1 | set2

# Display the new set
print("New Set:", new_set)

New Set: {1, 2, 3, 4, 5, 6, 7, 8}

#21. Create a set of the first 5 prime numbers.

In [22]:
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num//2) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers entered by the user
prime_set = set()
count = 0
num = 2

while count < 5:
    if is_prime(num):
        prime_set.add(num)
        count += 1
    num += 1

# Display the set
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

#22. Check if two sets are identical.

In [28]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

result=set1==set2
print("These two sets are identical :",result)

These two sets are identical : False

#23. Create a frozen set.

In [29]:
# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set
frozen_set = frozenset(my_set)

# Display the sets
print("Regular Set:", my_set)
print("Frozen Set:", frozen_set)

Regular Set: {1, 2, 3, 4, 5}
Frozen Set: frozenset({1, 2, 3, 4, 5})

#24. Check if a set is disjoint with another set.

In [36]:
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {6,7,8,9,10}

# check if these two sets are disjoint
result = set1.isdisjoint(set2)
print(result)

True

#25. Create a set of squares of numbers from 1 to 5.

In [37]:
set([i*i for i in range(1,6)])

{1, 4, 9, 16, 25}

#26. Filter out all even numbers from a set.

In [39]:
my_set={12,47,5,6,3,5,8,52,65,48,31,94}

even_number=set([i for i in my_set if i%2==0])
print("my set is :",my_set)
print("even numbers in this set are :",even_number)

my set is : {65, 3, 5, 6, 8, 12, 47, 48, 52, 94, 31}
even numbers in this set are : {6, 8, 12, 48, 52, 94}

#27. Multiply all elements in a set by 2.

In [40]:
my_set={12,47,5,6,3,5,8,52}

multiply_number=set([i*2 for i in my_set])
print("my set is :",my_set)
print("after multiplying each element by 2 :",multiply_number)

my set is : {3, 52, 5, 6, 8, 12, 47}
after multiplying each element by 2 : {6, 104, 10, 12, 16, 24, 94}

#28. Create a set of random numbers.

In [1]:
import random

# Generate a set of 5 random numbers between 1 and 10
random_set = set(random.sample(range(1, 11), 5))

# Display the set of random numbers
print("Set of random numbers:", random_set)

Set of random numbers: {3, 5, 7, 8, 10}

#29. Check if a set is empty.

In [7]:
# initialize the set
set1={10,51,42,51,85,74}

# check if a set is empty
check_set=True if len(set1)==0 else False

print("set is empty :",check_set)

set is empty : False

#30. Create a nested set (hint: use frozenset).

In [9]:
# Create frozensets
nested_set1 = frozenset({1, 2, 3})
nested_set2 = frozenset({4, 5, 6})
nested_set3 = frozenset({7, 8, 9})

# Create a set containing frozensets
nested_set = {nested_set1, nested_set2, nested_set3}

# Display the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

#31. Remove an element from a set using the discard method.

In [12]:
# take the string input from the user
input_str=input("enter the elements of set separated by commas :")

# convert the input string into set
user_set=set(map(int,input_str.split(',')))

print("our set is :",user_set)

n=int(input("enter the element which you want to remove"))
if n in user_set:
    user_set.discard(n)
else:
    print("element is not present in the set")
    
print("after removing the element :",user_set)

enter the elements of set separated by commas : 41,52,63,74,85,96

our set is : {96, 41, 74, 52, 85, 63}

enter the element which you want to remove 74

after removing the element : {96, 41, 52, 85, 63}

#32. Compare two sets.

In [15]:
# example set
set1={84,42,61,75,32}
set2={74,85,96,51,42,63}

# check if both sets are equal
result=set1==set2

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)


print("both sets are same :",result)
print("Is Set 1 a subset of Set 2:", is_subset)
print("Is Set 2 a superset of Set 1:", is_superset)

both sets are same : False
Is Set 1 a subset of Set 2: False
Is Set 2 a superset of Set 1: False

#33. Create a set from a string.

In [16]:
# take the string input from the user
input_str=input("enter the set elements separated by commas:")

# convert the string elements into set
user_set=set(input_str.split(','))

print("our set is :",user_set)

enter the set elements separated by commas: sudh,sakshi,rahul

our set is : {'sakshi', 'sudh', 'rahul'}

#34. Convert a set of strings to a set of integers.

In [21]:
# take the string input from the user
input_str=input("enter the set elements separated by commas:")

# convert the string elements into set
str_set=set(input_str.split(','))
# Convert a set of strings to a set of integers.
user_set=set(map(int,input_str.split(',')))

print("string set is :",str_set)
print("our set is :",user_set)

enter the set elements separated by commas: 41,52,63,74,85,96

string set is : {'96', '63', '85', '74', '52', '41'}
our set is : {96, 41, 74, 52, 85, 63}

In [ ]:
# 35. Convert a set of integers to a set of strings.

In [22]:
# take the string input from the user
input_str=input("enter the set elements separated by commas:")


# Convert a set of strings to a set of integers.
user_set=set(map(int,input_str.split(',')))
# convert the string elements into set
str_set=set(input_str.split(','))


print("our set is :",user_set)
print("string set is :",str_set)

enter the set elements separated by commas: 41,52,63,94,75,32

our set is : {32, 41, 75, 52, 94, 63}
string set is : {'63', '32', '75', '52', '41', '94'}

#36. Create a set from a tuple.

In [3]:
# take tuple input from the user
input_str=input("enter the elements of tuple from the user :")

# convert the elements into tuple
tuple1=tuple(input_str.split(','))

# conver this tuple into set
set1=set(tuple1)

# display the result
print("our tuple is :",tuple1)
print("after converting tuple into set :",set1)

enter the elements of tuple from the user : 41,52,63,74,85,96

our tuple is : ('41', '52', '63', '74', '85', '96')
after converting tuple into set : {'85', '63', '74', '96', '41', '52'}

#37. Convert a set to a tuple.

In [4]:
# take tuple input from the user
input_str=input("enter the elements of tuple from the user :")

# convert the elements into tuple
set1=set(map(int,input_str.split(',')))

# conver this tuple into set
tuple1=tuple(set1)


print("our set is :",set1)
# display the result
print("after converting set into tuple :",tuple1)

enter the elements of tuple from the user : 41,85,96,32,45,74

our set is : {96, 32, 41, 74, 45, 85}
after converting set into tuple : (96, 32, 41, 74, 45, 85)

#38. Find the maximum value in a set.

In [6]:
# example usage
set1={41,74,85,25,36,95,42}

# finding the max using max method
result=max(set1)

# display the result
print("our set is :",set1)
print("largest element in the set is :",result)

our set is : {36, 42, 85, 41, 74, 25, 95}
largest element in the set is : 95

#39. Find the minimum value in a set.

In [7]:
# example usage
set1={41,74,85,25,36,95,42}

# finding the max using max method
result=min(set1)

# display the result
print("our set is :",set1)
print("shortest element in the set is :",result)

our set is : {36, 42, 85, 41, 74, 25, 95}
shortest element in the set is : 25

#40. Create a set from user input.

In [8]:
# take tuple input from the user
input_str=input("enter the elements of tuple from the user :")

# convert the elements into tuple
set1=set(map(int,input_str.split(',')))

# display the set
print("our set is :",set1)

enter the elements of tuple from the user : 41,51,42,21,75,96

our set is : {96, 41, 42, 75, 51, 21}

#41. Check if the intersection of two sets is empty.

In [10]:
# example usage
set1={42,61,42,84,57}
set2={63,52,41,74,85}

# Check if the intersection is empty using isdisjoint()
intersection_empty = set1.isdisjoint(set2)

# Display the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is the intersection empty:", intersection_empty)

Set 1: {57, 42, 84, 61}
Set 2: {52, 85, 41, 74, 63}
Is the intersection empty: True

#42. Create a set of the first 5 Fibonacci numbers.

In [17]:
# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = {0,1}
    a, b = 0, 1

    for _ in range(n):
        # fibonacci_set.add(a)
        a, b = b, a + b
        fibonacci_set.add(b)

    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_set = generate_fibonacci(4)

# Display the set
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

#43. Remove duplicates from a list using sets.

In [18]:
# initialize the list and convert into set
list1=[41,51,24,51,63,84]
set1=set(list1)

print("our list is :",list1)
print("our set is :",set1)

our list is : [41, 51, 24, 51, 63, 84]
our set is : {41, 51, 84, 24, 63}

#44. Check if two sets have the same elements, regardless of their count.

In [19]:
# example usage
set1={41,52,63,84,75,96}
set2={14,2,53,694,75,86}

result=set1 == set2

# display the result
print("set 1 is :",set1)
print("set 2 is :",set2)
print("both sets have the same element :",result)

set 1 is : {96, 52, 84, 41, 75, 63}
set 2 is : {2, 53, 694, 86, 75, 14}
both sets have the same element : False

#45. Create a set of the first `n` powers of 2.

In [22]:
# taking n value from the user
n=int(input("enter the n value :"))
set([i*i for i in range(1,n+1)])

enter the n value : 5

{1, 4, 9, 16, 25}

#46. Find the common elements between a set and a list.

In [26]:
list1=[41,52,63,74,85,96]
set1={74,96,12,54,36,75}

common=[]
for i in list1:
    if i in set1:
        common.append(i)
        
        
print("common elements in this list and set :",common)

common elements in this list and set : [74, 96]

#47. Create a set of the first `n` triangular numbers.

In [27]:
def generate_triangular_numbers(n):
    triangular_set = set()

    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        triangular_set.add(triangular_number)

    return triangular_set

# Example: Generate a set of the first 5 triangular numbers
n_terms = 5
triangular_set = generate_triangular_numbers(n_terms)

print(f"Set of the first {n_terms} triangular numbers:", triangular_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

#48. Check if a set contains another set as a subset.

In [29]:
# Example sets
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
subset = {2, 4, 6}

# Check if subset is a subset of set1
is_subset = subset.issubset(set1)

# Display the results
print("Set 1:", set1)
print("Subset:", subset)
print("Is subset a subset of set1:", is_subset)

Set 1: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Subset: {2, 4, 6}
Is subset a subset of set1: True

#49. Create a set of alternating 1s and 0s of length `n`.

In [38]:
# Function to create a set of alternating 1s and 0s
def create_alternating_set(n):
    alternating_set = [0 if i % 2 == 0 else 1 for i in range(1,n+1)]
    return alternating_set

# Example: Create a set of alternating 1s and 0s of length 10
n = 10
alternating_set = create_alternating_set(n)
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 10: [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

#50. Merge multiple sets into one.

In [43]:
# example usage
set1={1,2,3,4,5}
set2={6,7,8,9,0}
set3={14,25,36,12,21}


# merge_set=set1.union(set2,set3)
nested_set=set1|set2|set3

# print(merge_set)
print("after merging three sets :",nested_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 36, 12, 14, 21, 25}
after merging three sets : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 36, 12, 14, 21, 25}